html{
    
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    background: url('tile.gif');
    font-family: sans-serif;
}

a{
    position: relative;
}

a:active{
    top: 1px;
}

header{
    clear: both;
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

header h1{
    padding-left: 0.8em;
    text-shadow: 0 1px 0 #fff;
}

header a{
    text-decoration: none;
}

header .name{
    color: #3c0;
    font-size: 120%;
}

header .explanation{
    color: #ccc;
    font-size: 70%;
    font-weight: normal;
    padding-left: 0.4em;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'PT Sans';
}

body>nav{
    clear: both;
    display: none;
    margin: 0 auto;
    max-width: 800px;
}

body>nav li{
    display: inline;
    list-style-type: none;
}

/*
body>section{
    float: left;
}
*/

section#page{
    background: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

section#page nav{
    border-bottom: 1px solid #eee;
    display: block;
}

section#page nav ul{
    margin: 0;
    padding: 1em 1.5em;
}

section#page nav li{
    display: inline;
    list-style-type: none;
}

section#page nav a{
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    color: #333;
    display: inline-block;
    font-weight: bold;
/*    margin: 1.3em 0.5em 1.3em 0;*/
    margin-right: 0.5em;
    padding: 0.3em 0.7em;
    text-decoration: none;
}

section#page nav a:hover{
    background: #eee;
}

section#page nav a.current{
    background: #ccc;
}

section#page h2{
    margin: 0;
    padding: 0.7em 1em;
    padding-bottom: 0;
}

#spotify_metadata_search{
    padding: 0.5em 1.5em;
}

#spotify_metadata_search input[type=search]{
    font-size: 1.5em;
    max-width: 100%;
}

#spotify_metadata_search input[type=submit]{
    display: none;
}

#spotify_metadata_result .status{
    padding: 1em 1.5em;
}

.tracks{
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.tracks thead th{
    color: #666;
    font-size: 0.8em;
    font-weight: normal;
    padding: 0.3em 0.5em;
    text-align: left;
}

.track{
}

.track.current td{
    background: lightgreen;
}

.track.current .action.vote .icon{
    display: none;
}

.track a{
    color: #333;
    text-decoration: none;
}

.track a:hover{
    text-decoration: underline;
}

.track td{
    background: #F6F6F6;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #fff;
    color: #333;
    font-size: 100%;
    padding: 0.5em 0.5em;
    text-shadow: 0px 1px 0px #fff;
}

.track .artist{
    border-right: 1px solid #fff;
    min-width: 10em;
}

.track .name{
    min-width: 10em;
}

.track .action{
    padding-top: 0;
    padding-bottom: 0;
    width: 25px;
}

.track .action a{
    display: block;
    opacity: 0.5;
}

.track .action a:hover{
    opacity: 0.9;
}

.track .icon{
    float: right;
/*    margin-left: 0.5em;*/
}

.icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #fff;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    padding: 0 1px;
    text-indent: -2000px;
    vertical-align: -0.3em;
    width: 20px;
}

.icon.add{
    background-color: #bf7;
    background-image: url('mini-icons/plus.png');
}

.icon.more{
    background-image: url('mini-icons/magnifying-glass.png');
}

.icon.vote{
    background-color: #f99;
    background-image: url('mini-icons/heart.png');
}

.icon.open{
    background-color: #ccc;
    background-image: url('mini-icons/eye.png');
}

aside{
    color: #666;
    display: block;
    font-size: 80%;
/*    float: right;*/
    margin: 0 auto;
    max-width: 760px;
}

#activities{
    margin: 0;
    line-height: 1.5em;
    list-style-type: none;
    padding: 0;
    text-shadow: 0 1px 0 #fff;
}

#activities li{
    line-height: 2.0em;
}

.activity .icon{
    height: 13px;
    margin-right: 0.2em;
    opacity: 0.5;
    width: 13px;
}

.activity a{
    color: #9ac;
    text-decoration: none;
}

.activity .timestamp{
    font-size: 80%;
}

footer{
    clear: both;
    color: #bbb;
    display: block;
    font-size: 60%;
    margin: 0 auto;
    max-width: 760px;
    padding-top: 3em;
    text-shadow: 0 1px 0 #fff;
}

footer a{
    color: #9ac;
    text-decoration: none;
}