html, body{
    font-family: sans-serif;
}

.tracks{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.track{
    background: #F6F6F6;
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #fff;
    font-size: 80%;
    padding: 0.3em 0.5em;
}

.track a{
    color: #006;
    text-decoration: none;
}

.track .icon{
    float: right;
    margin-left: 0.5em;
}

.icon.add{
    background: url('mini-icons/plus.png') no-repeat center;
    display: inline-block;
    height: 19px;
    text-indent: -1000px;
    vertical-align: -0.3em;
    width: 19px;
}

.icon.more{
    background: url('mini-icons/magnifying-glass.png') no-repeat center;
    display: inline-block;
    height: 19px;
    text-indent: -1000px;
    vertical-align: -0.3em;
    width: 19px;
}

.icon.vote{
    background: url('mini-icons/heart.png') no-repeat center;
    display: inline-block;
    height: 19px;
    text-indent: -1000px;
    vertical-align: -0.3em;
    width: 21px;
}

aside{
}

#activity{
    margin: 0;
    line-height: 1.5em;
    list-style-type: none;
    padding: 0;
}

footer{
    color: #ddd;
    font-size: 60%;
    padding-top: 3em;
}