<div data-role="header">
	<h1>Välj spellista</h1>
	<%= link_to 'Ny spellista', new_playlist_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">

	<ul data-role="listview">

<% @playlists.each do |playlist| %>
	<li class="playlist">
		<h3><%= link_to playlist.name, playlist %></h3>
		<p><%= playlist.tracks.size %> låtar</p>
		<!--
		<% if playlist.is_playing? %>
			Spelar just nu:
		<% else %>
			Pausad
		<% end %>
		<% unless playlist.tracks.blank? %>
			<%= link_to "#{playlist.tracks.first.artist} - #{playlist.tracks.first.name}", playlist_track_path(playlist, playlist.tracks.first) %>
		<% end %>
		-->
	</li>
<% end %>

	</ul>

</div>