<h1>Alla röster</h1>

<table>
	<thead>
  <tr>
		<th>Röstare</th>
    <th>Låt</th>
    <th>I spellista</th>
  </tr>
	</thead>

<tbody>
<% @votes.each do |vote| %>
  <tr>
		<td>Någon</td>
    <td>
			<% if vote.playlist_item && vote.playlist_item.track %>
				<%= link_to "#{vote.playlist_item.track.artist} - #{vote.playlist_item.track.name}", vote.playlist_item %>
			<% end %>
		</td>
		<td>
			<% if vote.playlist_item && vote.playlist_item.playlist %>
				<%= link_to vote.playlist_item.playlist.name, vote.playlist_item.playlist %>
			<% end %>
		</td>
  </tr>
<% end %>
</tbody>
</table>